.body {
  background-image: url("../images/volunteer1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px;
  padding-top: 100px; 
}

.contact-h1 {
  text-align: center;
  color: #79994D;
  margin-top: 20px;
  padding: 30px;
}

#contactForm {
  background-color: #98B66E;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50 px;
}

label,
input,
select,
textarea,
input[type="submit"] {
  display: block;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #333;
  color: #98B66E;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #555;
}

.contactFormMessage {
  margin-top: 15px;
  text-align: center;
  color: #c1c1c1; /* Success message color */
  font-weight: bold;
}
